# Database
*.dump

# Editors
.idea
.vscode

# Misc
uploads
profiles

# Python
*.py[co]

# Translations
*.mo

# Environment
.env

# Documents
*.docx
*.doc

# Models
custom_models/*
!custom_models/.gitkeep

credentials.json
