# Database
*.dump

# Editors
.idea
.vscode

# Misc
uploads
profiles

# Python
*.py[co]

# Translations
*.mo

# Environment
.env

# Documents
*.docx
*.doc
custom_models/test_model/test.txt

credentials.json
