# Database
*.dump

# Editors
.idea
.vscode

# Misc
profiles
static
uploads

# Python
*.py[co]

# Translations
*.mo

# Environment
.env

# Documents
*.docx
*.doc

# Logs
logs/*.log

# Models
custom_models/*
!custom_models/.gitkeep

credentials.json
